* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


img, iframe {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.menu-acessibilidade {
    font-size: 12px;
    padding: 5px;
    color: white;
    background-color: black;
    button{
            box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
            border: 2px solid yellow;
            border-radius: 12px;
            padding: 5px;
    }
}
.menu-acessibilidade-header{
    padding-top: 3px; font-size: large;
}

.menu-paginas {
    display: flex;
    align-items: center;
    height: 80px;
}

.menu-paginas-links a {
    text-decoration: none;
    color: inherit;
}

.menu-paginas-foto {
    display: flex;
    align-items: center;
    height: 80%;
    width: 80px;
    margin-right: 20px;
}

.menu-paginas-links {
    width: 100%;
}

.conteudo-imagem {
    height: 600px;
}

.frase-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
}

.frase {
    font-size: 45px;
    font-weight: 300;
    max-width: 65%;
}

.nome {
    margin-left: 44rem;
    font-size: 25px;
    font-weight: 600;
}

.screen-left {
    display: flex;
    height: 500px;
}
.screen-mid {
    display: flex;
    height: 350px;
}

.screen-left-txt {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 40px;
}

.screen-mid-txt {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

.screen-left-txt-title,
.screen-mid-txt-title {
    padding-top: 40px;
    font-size: 45px;
}

.screen-left-txt-paragraph,
.screen-mid-txt-paragraph {
    margin-top: 40px;
    font-weight: 400;
}

.screen-left-img {
    padding: 50px;
    width: 40%;
}

.screen-left-img-photo {
    height: 400px;
    padding-bottom: 15px;
}

.rodape {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
    font-size: 10px;
}

.secao-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 50px;
}

.secao-formulario-paragrafo {
    padding: 30px;
}

.secao-formulario-conteudo form {
    max-width: 800px;
    margin: 0 auto;
}

.secao-formulario-conteudo .formulario-coluna {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.secao-formulario-conteudo .formulario-coluna label {
    width: 48%;
}

.secao-formulario-conteudo .formulario-coluna input,
.secao-formulario-conteudo .formulario-coluna select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.secao-formulario-conteudo label {
    display: block;
    margin-bottom: 5px;
}

.secao-formulario-conteudo textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.secao-formulario-conteudo input[type="submit"],
.secao-formulario-conteudo input[type="reset"] {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
}

.secao-formulario-conteudo input[type="submit"]:hover,
.secao-formulario-conteudo input[type="reset"]:hover {
    background-color: #555;
}

.quem-somos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
    padding: 50px;
}

.quem-somos-foto {
    height: 190px;
    width: 200px;
}

.quem-somos-link {
    text-align: center;
    margin: 10px;
    height: 30px;
    width: 200px;
}

 /* MUDAR COR PARA AMARELO QUANDO CLICAR NO AUTO CONTRASTE*/
.quem-somos-link a {
    color: inherit;
}

form {
    padding: 20px;
    border: 3px solid #ccc;
}

footer a {
    color: white;
}

@media (max-width: 1050px) {
    .menu-acessibilidade {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-paginas {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .menu-paginas-foto {
        margin: 15px;
    }

    .menu-paginas-links ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .conteudo-imagem {
        margin-top: 50px;
        height: 400px;
    }

    .frase-div {
        margin: 50px 0;
        height: 200px;
    }

    .frase {
        font-size: 30px;
    }

    .nome {
        margin: 0;
    }

    .screen-left,
    .screen-mid {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    .screen-left-txt,
    .screen-mid-txt {
        justify-content: center;
        padding: 0;
        width: 350px;
    }

    .screen-left-txt-title,
    .screen-mid-txt-title {
        width: 300px;
        text-align: center;
        font-size: 30px;
    }

    .screen-left-txt-paragraph,
    .screen-mid-txt-paragraph {
        text-align: center;
        font-size: 13px;
        padding-bottom: 25px;
    }

    .screen-left-img {
        padding: 25px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .screen-left-img-photo {
        height: 250px;
        padding-bottom: 12px;
    }

    .footer {
        font-size: 1px;
    }
}