* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img, iframe {
    width: 100%;
    height: 100%;
}

ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

.menu-acessibilidade {
    font-size: 12px;
    padding: 5px;
    color: white;
    background-color: black;
}

.menu-paginas {
    display: flex;
    align-items: center;
    height: 80px;
}

.menu-paginas-links a {
    text-decoration: none;
    color: black;
}

.menu-paginas-foto {
    display: flex;
    align-items: center;
    height: 80%;
    width: 80px;
    margin-right: 20px;
}

.menu-paginas-links {
    width: 100%;
}

.conteudo-imagem {
    height: 600px;
}

.frase-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

.frase {
    font-size: 45px;
    font-weight: 300;
    max-width: 65%;
}

.nome {
    margin-left: 44rem;
    font-size: 25px;
    font-weight: 600;
}

.screen-left,
.screen-mid {
    display: flex;
    height: 500px;
}

.screen-left-txt,
.screen-mid-txt {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 60px;
}

.screen-left-txt-title,
.screen-mid-txt-title {
    padding-top: 40px;
    font-size: 45px;
}

.screen-left-txt-paragraph,
.screen-mid-txt-paragraph {
    margin-top: 40px;
    font-weight: 400;
}

.screen-left-img,
.screen-mid-img {
    padding: 50px;
    width: 40%;
}

.screen-left-img-photo,
.screen-mid-img-photo {
    height: 400px;
    padding-bottom: 15px;
}

.rodape {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7px 0;
    font-size: 10px;
}

.secao-formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}

.secao-formulario-paragrafo {
    padding: 30px;
}

footer a {
    color: white;
}

.secao-formulario-conteudo {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 25px;
    border: 2px solid #ccc;
}

/* Responsividade */
@media (max-width: 1050px) {
    .menu-acessibilidade {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .menu-paginas {
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .menu-paginas-foto {
        margin: 15px;
    }

    .menu-paginas-links ul {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .conteudo-imagem {
        margin-top: 50px;
        height: 400px;
    }

    .frase-div {
        margin: 50px 0;
        height: 200px;
    }

    .frase {
        font-size: 30px;
    }

    .nome {
        margin: 0;
    }

    .screen-left,
    .screen-mid {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    .screen-left-txt,
    .screen-mid-txt {
        justify-content: center;
        padding: 0;
    }

    .screen-left-txt-title,
    .screen-mid-txt-title {
        width: 300px;
        text-align: center;
        font-size: 30px;
    }

    .screen-left-txt-paragraph,
    .screen-mid-txt-paragraph {
        text-align: center;
        font-size: 13px;
        padding-bottom: 25px;
    }

    .screen-left-img,
    .screen-mid-img {
        padding: 25px;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .screen-left-img-photo,
    .screen-mid-img-photo {
        height: 250px;
        padding-bottom: 12px;
    }

    .footer {
        font-size: 1px;
    }
}